<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<title></title>
   <script src="https://cdnjs.cloudflare.com/ajax/libs/react/0.14.2/react.js"></script>
   <script src="https://cdnjs.cloudflare.com/ajax/libs/react/0.14.2/react-dom.js"></script>
   <script src="https://cdnjs.cloudflare.com/ajax/libs/babel-core/5.8.23/browser.min.js"></script>
   <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
</head>
<body>
	<div id="main"></div>
	<script type="text/babel">
		var Wrapper = React.createClass({
			refreshName: function() {
				console.log("refresh name by sending ajax request to " + this.props.baseUrl);				
				// $.ajax({
				// 	url: this.props.url, 
				// 	dataType: 'json',
				// 	type: 'GET',
				// 	success: function(response) {
				// 		this.setState({name: response.name});
				// 	}.bind(this)
				// });

				$.get(this.props.url, function(response) {
					this.setState({name: response.name});
				}.bind(this)
				);
			},
			handleListSubmit: function(data) {
				console.log("send list title and create a list " + data.name)
				$.ajax({
					url: this.props.baseUrl + "/list/create", 
					dataType: 'json',
					type: 'POST', 
					data: data,
					success: function(data) {
						this.setState({name: data.name});
					}.bind(this),
					error: function(xhr, status, err) {
						console.error(this.props.url, status, err.toString());
					}.bind(this)
				});
			},
			getInitialState: function() {
				return {name: ''}
			},
			render: function() {
				return (
					<div>
						<Button text="ADD NEW LIST" wasabi={this.refreshName} />
						<List name={this.state.name} />
						<ListForm onListSubmit={this.handleListSubmit} />
					</div>
				)
			}
		});

		var Button = React.createClass({
			render: function() {
				return (
					<button type="button" onClick={this.props.wasabi}>{this.props.text}</button>
				)
			}
		});

		var ListForm = React.createClass({
			handleSubmit: function(e) {
				e.preventDefault();
				var name = this.refs.name.value.trim();
				this.props.onListSubmit({name: name});
			},
			render: function() {
				return (
				<form onSubmit={this.handleSubmit}>
					List title:	<input type="text" placeholder="list title" ref="name" />
					<input type="submit" />
				</form>
				);
			}
		});	

		var List = React.createClass({
			render: function() {
				return (
					<div>
					List Name: {this.props.name}
					</div>
				)
			}
		});

		ReactDOM.render(
      <Wrapper baseUrl="http://localhost:3000" />,
      document.getElementById('main')
    ); 
	</script>
</body>
</html>
