<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<title></title>
   <script src="https://cdnjs.cloudflare.com/ajax/libs/react/0.14.2/react.js"></script>
   <script src="https://cdnjs.cloudflare.com/ajax/libs/react/0.14.2/react-dom.js"></script>
   <script src="https://cdnjs.cloudflare.com/ajax/libs/babel-core/5.8.23/browser.min.js"></script>
   <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
</head>
<body>
	<div id="main"></div>
	<script type="text/babel">
		var Wrapper = React.createClass({
			refreshName: function() {
				console.log("refresh name by sending ajax request to " + this.props.url);
				// $.ajax({
				// 	url: this.props.url, 
				// 	dataType: 'json',
				// 	type: 'GET',
				// 	success: function(response) {
				// 		this.setState({name: response.name});
				// 	}.bind(this)
				// });

				$.get(this.props.url, function(response) {
					this.setState({name: response.name});
				}.bind(this)
				);
			},
			getInitialState: function() {
				return {name: ''}
			},
			render: function() {
				return (
					<div>
						<Button text="Click this to create a List" wasabi={this.refreshName} />
						<List name={this.state.name} />
					</div>
				)
			}
		});

		var Button = React.createClass({
			render: function() {
				return (
					<button type="button" onClick={this.props.wasabi}>{this.props.text}</button>
				)
			}
		});

		var List = React.createClass({
			render: function() {
				return (
					<div>List Name: {this.props.name}</div>
				)
			}
		})

		ReactDOM.render(
      <Wrapper url="http://localhost:3000" />,
      document.getElementById('main')
    ); 
	</script>
</body>
</html>
